/* ========================================================================== */
/* CONTENEDOR DE LAS TARJETAS (VER RESERVAS)                                  */
/* ========================================================================== */

.ver-reservas-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;      /* Permite que las tarjetas bajen a la siguiente fila cuando no quepan */
  gap: 30px;            /* Espacio de separación entre cada tarjeta */
  padding: 20px;
  justify-content: center; /* Centra el grupo de tarjetas en la pantalla */
  width: 100%;
  box-sizing: border-box;
}


@media (max-width: 480px) {
  .ver-reservas-container {
    /* Reducimos el colchón interno y la separación para aprovechar el espacio */
    padding: 10px;
    gap: 20px;
    
    /* 🌟 Forzamos a que en pantallas micro las columnas se adapten al 100% */
    grid-template-columns: 1fr;
  }

  /* Hacemos que la tarjeta reduzca ligeramente su escala si el celular es muy angosto */
  .ver-reservas-container .form {
    width: 100%;
    max-width: 18em; /* Evita que se estire infinitamente hacia los lados */
  }
}